html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #9da9a7;
}

.container {
    display: flex;
    background-color: #cdcfcf;
    flex-direction: column;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
}

h1 {
    font-size: 4rem;
    font-weight: bolder;
    margin: 10px;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 10px;
}

#choices {
    margin: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;

}

button {
    height: 200px;
    width: 200px;
    background-size: 200px 200px;
    background-repeat: no-repeat;

}

#rock {
    background-image: url(./images/rock.jpg);
}

#paper {
    background-image: url(./images/paper.jpg);
}

#scissors {
    background-image: url(./images/scissors.jpg);
}

#r,
#p,
#s {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;

}

#r {
    background-color: #6DB3B9;
}

#p {
    background-color: #f0b0c1;
}

#s {
    background-color: #D1D968;
}

h3,
h4 {
    padding: .5rem;
    font-size: 1rem;
    font-weight: bold;
}

#results {
    display: flex;
    flex-direction: column;
    align-items: center;
}